html{
  font-family: 'Sigmar One', cursive;
}

body{
  height: 100vh;
  width: 100vw;
}

.view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  z-index: 3;
  font-size: 2vh;
}

.status{
  width: 100%;
  font-size: 3vw;
  text-align: center;
  color: white;
  background-color: black;
  height: 20vh;
}

#curve_chart{
  text-align: center;
  margin: 0 auto;
  width: 80vw;
  height: 40vh;
}

#wordtree_basic{
  width: 900px;
  height: 500px;
}



